@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Bodoni MT;
    min-height: 100vh;
    background-image: url(../Imagenes/Usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
header{
    background:  #d6c6c6;
    opacity: 10;
    margin-left: 0%;
    margin-top: auto;
}
h1{
	font-size:25px;
	margin-left:30%;
	margin-top: -10%;
}

table{
    margin-top: 5%;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 4px 9px 20px rgb(41, 38, 38);
    border-top: 4px solid #017bab;
    background-color: rgb(21, 100, 94);
    opacity: 0.9;
}

div{
    width: 300px;
	height: 30px;
    text-align: center;
    font-size: 28px;
    background-color: rgb(21, 100, 94);
    opacity: 0.9;
    margin-top: 5%;
    margin-left: 550px;
    border-radius: 3px;
}
th{
    
    background-color: #3cb1c0;
    opacity: 0.9;
    text-align: center;
    border: 2px solid black;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}
td{
    border: 2px solid black;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #d6c6c6;
    font-size: 16px;
    
}