@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Bodoni MT;
    background: rgb(21, 100, 94);
}

header {
    margin: 0px;
}

nav{
    margin-left: 13%;
    margin-right: 50px;
    padding: -1px;
    border-radius: 5px ;
}

.MenuH {
    display: inline-block;
    margin: 5px;
    background-color:#203438;
    color: black;
    height: 50px;
    text-decoration: none;
    color: rgb(247, 245, 247);
    font-size: 20px;
    width: 160px;
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid;
    overflow: hidden;
    border-radius: 7px;      
}
.MenuH:hover{
    background-color: #3cb1c0;
    color: black;
}

table{
    margin-top: 5%;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 4px 9px 20px rgb(41, 38, 38);
    border-top: 4px solid #017bab;
}

div{
    width: 300px;
	height: 30px;
    text-align: center;
    font-size: 28px;
    background:#d6c6c6;
    opacity: 0.7;
    margin-top: 5%;
    margin-left: 550px;
    border-radius: 3px;

}
th{
    
    background-color:#3cb1c0;
    opacity: 0.9;
    text-align: center;
    border: 2px solid black;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}

td{
    border: 2px solid black;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #d6c6c6;
    font-size: 16px;
    
}