@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Bodoni MT;
    min-height: 100vh;
    background-image: url(../Imagenes/Usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}

nav{
    margin: 0px;
    padding: -1px;
    border-radius: 5px ;
    margin-top: -8%;
    width: auto;
    height: 100px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
} 

header{
    background:  #d6c6c6;
    opacity: 10;
    margin-left: 0%;
    margin-top: auto;
}

.MenuH {
    display: block;
    display: inline-block;
    color: black;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    border-radius: 7px; 
    margin-left: 8%;  
    margin-top: 3%;
}
.MenuH:hover{
    
    color: rgb(15, 165, 202);
}


.form-login{
    width: 500px;
    height: 400px;
    margin-left: 80px;
    margin-top: 60px;
    box-shadow: 4px 9px 20px rgb(41, 38, 38);
    padding: 20px 30px;
    border-top: 4px solid #017bab;  
    color: black;
    background-color: rgb(21, 100, 94);
    opacity: 0.9;  
}

.controls{
    width: 100%;
    border:1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #d6c6c6;
    font-size: 14px;
    font-weight: bold;
    text-align: left ;   
}

.buttons{
    width: 130px;
    height: 40px;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;
    margin-left: 0px ;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: 20px;
    margin-left: 7px;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3;   
}
.buttons:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}
fieldset{
	width: 500px;
	height: 300px;
	margin-left: 700px;
	margin-top: -360px;
	box-shadow: 4px 9px 20px rgb(41, 38, 38);
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: black;
    background-color: rgb(21, 100, 94);
    opacity: 0.9; 
 
}
legend{
	font-size:22px;
	color: rgb(14, 13, 13);
    margin-left: 30%;

	}
form {
    margin-top: -300;
    margin-left: 40px;
    color:black;
    font-size: 22px;
}

.Use {
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 40px;
}
.button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 100px ;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: 10%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}
.button:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}