@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
      font-family: arial;
      background: rgb(21, 100, 94);
  }
  
 .form-login{
      width: 400px;
      height: 300px;
      margin: auto;
      margin-top: 150px;
      box-shadow: 4px 9px 20px rgb(41, 38, 38);
      padding: 20px 30px;
      border-top: 5px solid #3cb1c0;
      color: rgb(88, 88, 23);
  }
  
.form-login h5 {
      color: white;
      text-decoration: none;
      font-size: 18px; 
      text-align: center;
  }
  
  
  .controls{
      width: 100%;
      margin-bottom: 15px;
      padding: 11px 10px;
      background: #d6c6c6;
      font-size: 14px;
      font-weight: bold;
      margin-top: 15px;
      
  }
  .buttons{
      width: 40%;
      height: 40px;
      font-size: 14px;
      background-color:#203438;
      border: none;
      color:rgb(243, 242, 242);
      margin-bottom: 30px;
      margin-left: 20px ;
      margin-top: 30px;
      border-radius: 20px;
      border-bottom: 2px solid;
  }
  
  .buttons:hover {
      background-color: #3cb1c0;
      color: rgb(7, 7, 7);
  }