@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Bodoni MT;
    min-height: 100vh;
    background-image: url(../Imagenes/Ventas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}

nav{
    margin: 0px;
    padding: -1px;
    border-radius: 5px ;
    margin-top: -8%;
    width: auto;
    height: 100px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
} 

header{
    background:  #d6c6c6;
    opacity: 10;
    margin-left: 0%;;
    margin-top: auto;
}

.MenuH {
    display: block;
    display: inline-block;
    color: black;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    border-radius: 7px; 
    margin-left: 8%;  
    margin-top: 3%;
}
.MenuH:hover{
    
    color: rgb(15, 165, 202);
    
}
.formulario2 {
    width: 1300px;
	height: 730px;
	margin-left: 2%;
	margin-top: 100px;
	box-shadow: 4px 9px 20px rgb(41, 38, 38);
    padding: 0px;
    border-top: 4px solid #017bab;
    color: black;
    background-color: rgb(21, 100, 94);
    opacity: 0.9;
}

form {
    margin-top: -4%;
    margin-left: 2%;
    color:black;
    font-size: 22px;
}

.Use {
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 5px;
    font-size: 22px;
    color: black;
}

.button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 10px ;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: 5%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}
.button:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}
 

.codProd {
    margin-top: 20%;
    margin-left: 10%;
    display: block;
    color:black;
    font-size: 22px;
}
.UseCod {
    
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #808080;
}

.w{
	display:table;
	width: 400px;
	margin-left: 10px;
}
.NombreS{
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 26%;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: -14%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}

.NombreS:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}

.buttons {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 26%;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: 2%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}

.buttons:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}
.NombreP {
    margin-top: -20%;
    margin-left: 43%;
    display: block;
    color:black;
    font-size: 22px;
}
.NProducto {
    display: block;
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 2%;
    margin-left: 40%;
    font-size: 18px;
    color: #808080;
}
.NombreCant{
    margin-top: -17.5%;
    margin-left: 63%;
    display: block;
    color:black;
    font-size: 22px;
}

.NomProductos{
    display: block;
    width: 100px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 2%;
    margin-left: 800px;
    font-size: 18px;
    color: #808080;

}
.NomProducto{
    display: block;
    width: 100px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 2%;
    margin-left: 800px;
    font-size: 18px;
    color: #808080;
}
.prodVenta {
    display: block;
    margin-top: -17.5%;
    margin-left: 1020px;
    display: block;
    color:black;
    font-size: 22px;
}
.UseTotal{
    display: block;
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 2%;
    margin-left: 950px;
    font-size: 18px;
    color: #808080;
}

.NombreSon {
    display: block;
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 5%;
    margin-left: 950px;
    font-size: 18px;
    color: #808080;
}


.UseProducto {
    display: block;
    width: 250px;
    height: 40px;
    background: #d6c6c6;
    margin-top: 2%;
    margin-left: 950px;
    font-size: 18px;
    color: #808080;
}
.prodf {
    display: block;
    margin-top: -12%;
    display: block;
    color:black;
    font-size: 22px;
    margin-left: 750px;
}

.prod {
    display: block;
    margin-top: 3%;
    display: block;
    color:black;
    font-size: 22px;
    margin-left: 750px;
}
.buttons1 {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 5% ;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: -15%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}
.buttons1:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}
.buttons2 {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    margin-left: 40% ;
    border-radius: 20px;
    border-bottom: 2px solid;
    margin-top: 6%;
    box-shadow: 1px 3px 5px rgb(255, 253, 253);
    color:rgb(247, 236, 236);
    background: #1c3338;
    box-shadow: 0 0 2px #eed6f3, 0 0 5px #eed6f3, 0 0 5px #eed6f3; 
}
.buttons2:hover{
    background:  #3cb1c0;
    color: rgb(102, 48, 48);
}